body {
  background-color: #E9EEF6;
  height: 100vh;
  display: flex;
}

.main-card {
  margin: auto;
  background-color: #FFFFFF;
  width: 1437px;
  height: auto;
  border-radius: 32px;
  padding: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 28px;
  margin: 50px auto 0px auto;
}

.main-card div {
  margin: 30px auto 30px auto;
  display: flex;
  gap: 15px;
}

.card-1 {
  background-color: #F8F2FA;
}

.card-2 {
  background-color: #FAF2F4;
}

.card-3 {
  background-color: #F5F2FA;
}

.card {
  width: 429px;
  height: 328px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 44px;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 33px;
  border: 15px solid #FFFFFF;
  margin: 35px auto 0px auto;
}

h3 {
  font-size: 20px;
  margin: 5px auto 0px auto;
}

p {
  font-size: 16px;
  text-align: center;
  margin: 10px 50px 0px 50px;
}

button {
  width: 225px;
  height: 46px;
  margin: 35px auto 50px auto;
  border-radius: 3px;
  background-color: #0C1727;
  font-size: 16px;
  color: #FFFFFF;
}

button:hover {
  cursor: pointer;
}